html, body{
    background-color: rgb(214, 205, 194);
    margin: 0;
    padding: 0;
}

.Title{
    background-color: rgb(58, 55, 55);
}



.MyName{
    color: white;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}
.Main{
    max-width: 600px;
    margin:auto

}



.box{
   background-color: white;
  padding: 20px;
  margin: 10px;
}
.image{
    width: 100%;
}

.Name1{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    
}

.Bottom{
    color: white;
    background-color: rgb(58, 55, 55);
    text-align: center;
    padding: 15px;
}