html, body{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

.Title{
    background-color: rgb(58, 55, 55);
}

.MyName{
    color: white;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}
.Main{
    max-width: 600px;
    margin:auto

}

.box{
   background-color: white;
  padding: 20px;
  margin: 10px;
}
.image{
    width: 100%;
}